.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom:35px;
}
.single .answer{
  background-color: #efefef;
  padding:30px;
}

.single{
  margin: 0 0 75px 0;
}

.single input[type=submit]{
  background-color:#1d7f91;
  padding:10px;
  height:50px;
  margin: 10 0;
  border: none;
  width: 100%;
  color: white;
  vertical-align: center;
  text-align: center;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.single input[type=submit]:focus{
  background-color:#1d9cbe;
  color: white;
  border: none;
  outline: none;
}

.single input[type=submit]:hover{
  background-color:#1d9cbe;
}

.single textarea{
  color:grey;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #f2f2f2;
  padding: 13px 13px 13px 13px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.single textarea:focus{
  background-color: #fbfbfb;
  box-shadow: 0;
  color: grey;
  outline: none;
  resize:vertical;
  width: 100%;
  padding: 13px 13px 13px 13px;
}

.single input[type=text]{
  color:grey;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #f2f2f2;
  padding: 13px 13px 13px 13px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.single input:focus{
  background-color: #fbfbfb;
  box-shadow: 0;
  color: grey;
  outline: none;
  resize:vertical;
  width: 100%;
  padding: 13px 13px 13px 13px;
}
a{
  text-decoration: none;
  color:grey;
}
a:visited{
  color:grey;
}

.single {
  margin-bottom: 130px;
}
.single .nextQ {
  line-height: 100px;
}
.single .nextQ a {
  color: #71767a;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
}
.single #header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  background: #00829a;
  background: -moz-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #00829a), color-stop(100%, #00a2bd));
  background: -webkit-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -o-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -ms-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00829a', endColorstr='#00a2bd', GradientType=1);
}
.single #header h1 a {
  font-family: 'Merriweather', serif;
  padding: 35px;
  color: white;
  font-style: italic;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 28px;
  display: block;
  text-decoration: none;
}
.single #header .reviews {
  float: left;
  color: white;
  font-size: 33px;
  padding: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.single #header .reviews span {
  margin-left: 30px;
}
.single #header .reviews span:first-child {
  margin-left: 0;
}
.single #header .answers {
  float: right;
  padding: 20px 35px 0 0;
}
.single #header .answers li {
  display: inline-block;
  margin-right: 20px;
}
.single #header .answers li a {
  display: block;
  width: 57px;
  height: 57px;
}
.single #header .answers li a img {
  border-radius: 50%;
}
.single #header .answers li:last-child {
  margin-right: 0;
}
.single #header .answers .noAnswers {
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 25px 0 0 0;
}
.single #body {
  background: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.1);
}
.single #body #answer {
  padding: 100px;
}
.single #body #answer h2 {
  color: #00a2bd;
  font-size: 33px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 50px;

}
.single #body #answer h2 span {
  color: #222222;
  font-size: 22px;
  font-weight: normal;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}
.single #body #answer h2 span span {
  font-size: 18px;
  font-style: italic;
  color: #71767a;
  font-weight: normal;
}
.single #body #answer p {
  margin-bottom: 50px;
  font-family: 'Merriweather', serif;
  color: #222222;
  font-size: 22px;
  line-height: 1.5em;
  font-style: normal;
}
.single #body #answer p a {
  color: #00a2bd;
  text-decoration: none;
}
.single #body #answer .qoute {
  color: #00a2bd;
  font-style: italic;
}
.single #body #footer {
  border-top: 1px solid #d3d3d3;
  overflow: hidden;
}
.single #body #footer #bio {
  width: 800px;
  float: left;
  padding: 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-right: 1px solid #d3d3d3;
}
.single #body #footer #bio img {
  border-radius: 50%;
  margin-right: 25px;
  float: left;
}
.single #body #footer #bio h3 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 7px;
}
.single #body #footer #bio p {
  font-family: 'Roboto', sans-serif;
  color: #71767a;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
}
.single #body #footer a {
  float: left;
  display: block;
  width: 100px;
  text-align: center;
  line-height: 116px;
  color: #71767a;
  font-size: 33px;
  text-decoration: none;
}
@font-face {
  font-family: 'fontello';
  src: url(/assets/fontello.eot?19277286);
  src: url(/assets/fontello.eot?19277286#iefix) format("embedded-opentype"), url(/assets/fontello.svg?19277286#fontello) format("svg");
  font-weight: normal;
  font-style: normal;
}

div.input-group {
  position: fixed;
  display: block;
  margin: 0 0%;
  padding: 0;
  bottom: 0;
  left: 0;
  right:0;
  background-color: rgba(0,0,0,0);
}

footer div.input-group div.auto-fill-container{
  position: relative;
}



footer div.input-group div.auto-fill-container input{
  font-family: roboto;
  margin: 0;
  border: none;
  font-size: 2em;
  vertical-align: center;
  padding-left: 7%;
  background-color: rgba(0,0,0,0);
}


footer div.input-group div.auto-fill-container input[type="text"]{
  position: absolute;  
  height:75px;
  width:75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  transition: background-color 0.1s ease;
  background-color: rgba(0,0,0,.5);
  left: 0;
  top: 0;
  color: yellow;
}

footer div.input-group div.auto-fill-container input[type=text]:focus{
  outline: none;
  box-shadow: none;
  color: white;
  transition: background-color 0.1s ease;
  background-color: rgba(0,0,0,.5);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

}

footer div.input-group div.auto-fill-container input[type="submit"]{
  float: right;
  width:25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #00829a;
  background: -moz-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #00829a), color-stop(100%, #00a2bd));
  background: -webkit-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -o-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -ms-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00829a', endColorstr='#00a2bd', GradientType=1);
  margin:0;
  padding:0;
  height:75px;
  border: none;
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
footer input[type=submit]:hover{
  background-color:#68C2B5;
}


ul#question-queries{
  font-family: roboto;
  font-size: 1.5em;
  position:fixed;
  margin:0;
  bottom:76px;
  left:0;
  right: 0;
  color: white; 
  max-height: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 16.5%;
  display: none;
  min-height: 0;
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul#question-queries .thumb{
  width: 100%;
  padding: 2%;
}

ul#question-queries .thumb .content {
  float: left;
} 

ul#question-queries .thumb .icons {
  float: right;
}

.highlight-word {
  color: white;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'icons';
  src:url('icons.eot');
  src:url('icons.eot?#iefix') format('embedded-opentype'),
    url('icons.svg#icons') format('svg'),
    url('icons.woff') format('woff'),
    url('icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  padding-top: 100px;
  background: #ebebeb;
  -webkit-font-smoothing: antialiased;
}
* {
  -webkit-font-smoothing: antialiased;
}

.icon {
  font-family: 'icons';
}


.icon-bell-alt:before { content: '\e800'; } /* '' */
.icon-logout:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 2em;
  margin-right: .2em;
  text-align: center;
}
header {
  font-family: 'Roboto', sans-serif;
  height: 100px;
  top: 0;
  line-height: 100px;
  background: #222222;
}

header ul li {
  display: inline-block;
  margin-right: 30px;
}
header ul li:last-child {
  margin-right: 0;
}
header ul li a {
  color: #71767a;
  font-size: 33px;
  font-weight: 300;
  text-decoration: none;
}
header ul li a:hover {
  color: white;
}
header ul .active a {
  color: white;
  font-weight: 500;
}
header #nav {
  float: left;
}
header #controls {
  float: right;
}

.nav-wrapper{
   position: relative;
   max-width:850px;
   min-width:600px;
   padding:0 100px;
   margin:0 auto;
 }

 header input{
  border:none;
  height:30px;
  padding:0 15px;
  margin: 0 5px;
  width: 150px;
 }

header input[type=submit]{
  margin: 0;
  background-color: #292929;
  border:none;
  box-shadow:none;
  font-weight: bold;
  color: white;
  height:30px;
  line-height: 30px;
  vertical-align: center;
  width: 100px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

header input[type=submit]:hover{
  background-color:#1d9cbe;
}

/* line 1, /Users/mendy/Development/code/flatiron/ruby/projects/expla.in-1/app/assets/stylesheets/notifications.css.scss */
#notification-list {
  line-height: 2em;
  position: absolute;
  background: #0097B2;
  display: none;
  top: 105px;
  width: 200px;
  z-index: 10;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.25);
}
/* line 14, /Users/mendy/Development/code/flatiron/ruby/projects/expla.in-1/app/assets/stylesheets/notifications.css.scss */
#notification-list .notification {
  line-height: 1em;
  padding: 3%;
  display: block;
  margin: 3%;
  border-radius: 5px;
  background-color: white;
}
/* line 21, /Users/mendy/Development/code/flatiron/ruby/projects/expla.in-1/app/assets/stylesheets/notifications.css.scss */
#notification-list .notification a {
  font-size: 2em;
  color: grey;
}
/* line 27, /Users/mendy/Development/code/flatiron/ruby/projects/expla.in-1/app/assets/stylesheets/notifications.css.scss */
#notification-list .notification .sender {
  padding: 0 3%;
  font-size: 0.5em;
}
/* line 30, /Users/mendy/Development/code/flatiron/ruby/projects/expla.in-1/app/assets/stylesheets/notifications.css.scss */
#notification-list .notification .sender a {
  color: #0097B2;
}
/* line 35, /Users/mendy/Development/code/flatiron/ruby/projects/expla.in-1/app/assets/stylesheets/notifications.css.scss */
#notification-list .notification .message {
  border-radius: 0 0 5px 5px;
  font-size: 0.5em;
  background: white;
  margin: 0% 0%;
  display: block;
  padding: 0 3%;
}
/* line 44, /Users/mendy/Development/code/flatiron/ruby/projects/expla.in-1/app/assets/stylesheets/notifications.css.scss */
#notification-list .notification .notifiable {
  padding: 0 3%;
  font-size: 0.3em;
  display: block;
  text-align: left;
  background: white;
}
/* line 50, /Users/mendy/Development/code/flatiron/ruby/projects/expla.in-1/app/assets/stylesheets/notifications.css.scss */
#notification-list .notification .notifiable a {
  margin: 0;
  color: #0097b2;
}
/* line 56, /Users/mendy/Development/code/flatiron/ruby/projects/expla.in-1/app/assets/stylesheets/notifications.css.scss */
#notification-list .notification .line {
  width: 150px;
  height: .3px;
  margin: 5px 0;
}

/* line 67, /Users/mendy/Development/code/flatiron/ruby/projects/expla.in-1/app/assets/stylesheets/notifications.css.scss */
.alert {
  color: #0097B2 !important;
}
.questions {
  margin-top: 130px;
}
.questions > li {
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 10px;
  background: #00829a;
  background: -moz-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #00829a), color-stop(100%, #00a2bd));
  background: -webkit-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -o-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -ms-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00829a', endColorstr='#00a2bd', GradientType=1);
}
.questions > li h1 a {
  font-family: 'Merriweather', serif;
  padding: 35px;
  color: white;
  font-style: italic;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 28px;
  display: block;
  text-decoration: none;
  line-height: 1.25em;
}
.questions > li .reviews {
  float: left;
  color: white;
  font-size: 33px;
  padding: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.questions > li .reviews span {
  margin-left: 30px;
}
.questions > li .reviews span:first-child {
  margin-left: 0;
}
.questions > li .answers {
  float: right;
  padding: 20px 35px 0 0;
}
.questions > li .answers li {
  display: inline-block;
  margin-right: 20px;
}
.questions > li .answers li a {
  display: block;
  width: 57px;
  height: 57px;
}
.questions > li .answers li a img {
  border-radius: 50%;
}
.questions > li .answers li:last-child {
  margin-right: 0;
}
.questions > li .answers .noAnswers {
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 25px 0 0 0;
}
 #signup{
  margin: 50px 0;
 }

#signup input[type=submit]{
  background-color:#1d7f91;
  padding:10px;
  height:50px;
  margin: 10 0;
  border: none;
  width: 100%;
  color: white;
  vertical-align: center;
  text-align: center;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#signup input[type=submit]:focus{
  background-color:#1d9cbe;
  color: white;
  border: none;
  outline: none;
}

#signup input[type=submit]:hover{
  background-color:#1d9cbe;
}

#signup textarea{
  color:grey;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #f2f2f2;
  padding: 13px 13px 13px 13px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

#signup textarea:focus{
  background-color: #fbfbfb;
  box-shadow: 0;
  color: grey;
  outline: none;
  resize:vertical;
  width: 100%;
  padding: 13px 13px 13px 13px;
}

#signup input{
  color:grey;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #f2f2f2;
  padding: 13px 13px 13px 13px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

#signup input:focus{
  background-color: #fbfbfb;
  box-shadow: 0;
  color: grey;
  outline: none;
  width: 100%;
}

body h2{
  color: #00a2bd;
  font-size: 33px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}
.user-page #header h1{
  color:white;
  text-align: center;
  font-size: 2em;
  margin: 20px auto;
}

.user-page #header p{
  color:white;
  text-align: center;
  font-size: 1em;
  margin: 20px auto;
}

.user-page h3{
  color:#00A1BC;
  text-align: center;
  font-size: 2em;
  margin: 20px auto 0 0;
}

.img{
  height: 100px;
  width: 100px;
  margin:30px auto;
  color: white;
  border-radius: 50%;
  border: 3px solid #efefef;
  text-align: center;
  vertical-align: center;
  overflow: hidden;
}

#letter {
  text-shadow: rgb(0, 136, 161) 1px 1px,
    rgb(0, 136, 161) 2px 2px,
    rgb(0, 136, 161) 3px 3px,
    rgb(0, 136, 161) 4px 4px,
    rgb(0, 136, 161) 5px 5px,
    rgb(0, 136, 161) 6px 6px,
    rgb(0, 136, 161) 7px 7px,
    rgb(0, 136, 161) 8px 8px,
    rgb(0, 136, 161) 9px 9px,
    rgb(0, 136, 161) 10px 10px,
    rgb(0, 136, 161) 11px 11px,
    rgb(0, 136, 161) 12px 12px,
    rgb(0, 136, 161) 13px 13px,
    rgb(0, 136, 161) 14px 14px,
    rgb(0, 136, 161) 15px 15px,
    rgb(0, 136, 161) 16px 16px,
    rgb(0, 136, 161) 17px 17px,
    rgb(0, 136, 161) 18px 18px,
    rgb(0, 136, 161) 19px 19px,
    rgb(0, 136, 161) 20px 20px,
    rgb(0, 136, 161) 21px 21px,
    rgb(0, 136, 161) 22px 22px,
    rgb(0, 136, 161) 23px 23px,
    rgb(0, 136, 161) 24px 24px,
    rgb(0, 136, 161) 25px 25px,
    rgb(0, 136, 161) 26px 26px,
    rgb(0, 136, 161) 27px 27px,
    rgb(0, 136, 161) 28px 28px,
    rgb(0, 136, 161) 29px 29px,
    rgb(0, 136, 161) 30px 30px,
    rgb(0, 136, 161) 31px 31px,
    rgb(0, 136, 161) 32px 32px,
    rgb(0, 136, 161) 33px 33px,
    rgb(0, 136, 161) 34px 34px,
    rgb(0, 136, 161) 35px 35px,
    rgb(0, 136, 161) 36px 36px,
    rgb(0, 136, 161) 37px 37px,
    rgb(0, 136, 161) 38px 38px,
    rgb(0, 136, 161) 39px 39px,
    rgb(0, 136, 161) 40px 40px,
    rgb(0, 136, 161) 41px 41px,
    rgb(0, 136, 161) 42px 42px,
    rgb(0, 136, 161) 43px 43px,
    rgb(0, 136, 161) 44px 44px,
    rgb(0, 136, 161) 45px 45px,
    rgb(0, 136, 161) 46px 46px,
    rgb(0, 136, 161) 47px 47px,
    rgb(0, 136, 161) 48px 48px,
    rgb(0, 136, 161) 49px 49px,
    rgb(0, 136, 161) 50px 50px,
    rgb(0, 136, 161) 51px 51px,
    rgb(0, 136, 161) 52px 52px,
    rgb(0, 136, 161) 53px 53px,
    rgb(0, 136, 161) 54px 54px,
    rgb(0, 136, 161) 55px 55px,
    rgb(0, 136, 161) 56px 56px,
    rgb(0, 136, 161) 57px 57px,
    rgb(0, 136, 161) 58px 58px,
    rgb(0, 136, 161) 59px 59px,
    rgb(0, 136, 161) 60px 60px,
    rgb(0, 136, 161) 61px 61px,
    rgb(0, 136, 161) 62px 62px,
    rgb(0, 136, 161) 63px 63px,
    rgb(0, 136, 161) 64px 64px,
    rgb(0, 136, 161) 65px 65px,
    rgb(0, 136, 161) 66px 66px,
    rgb(0, 136, 161) 67px 67px,
    rgb(0, 136, 161) 68px 68px,
    rgb(0, 136, 161) 69px 69px,
    rgb(0, 136, 161) 70px 70px,
    rgb(0, 136, 161) 71px 71px,
    rgb(0, 136, 161) 72px 72px,
    rgb(0, 136, 161) 73px 73px,
    rgb(0, 136, 161) 74px 74px,
    rgb(0, 136, 161) 75px 75px,
    rgb(0, 136, 161) 76px 76px,
    rgb(0, 136, 161) 77px 77px,
    rgb(0, 136, 161) 78px 78px,
    rgb(0, 136, 161) 79px 79px,
    rgb(0, 136, 161) 80px 80px,
    rgb(0, 136, 161) 81px 81px,
    rgb(0, 136, 161) 82px 82px,
    rgb(0, 136, 161) 83px 83px,
    rgb(0, 136, 161) 84px 84px,
    rgb(0, 136, 161) 85px 85px,
    rgb(0, 136, 161) 86px 86px,
    rgb(0, 136, 161) 87px 87px,
    rgb(0, 136, 161) 88px 88px,
    rgb(0, 136, 161) 89px 89px,
    rgb(0, 136, 161) 90px 90px,
    rgb(0, 136, 161) 91px 91px,
    rgb(0, 136, 161) 92px 92px,
    rgb(0, 136, 161) 93px 93px,
    rgb(0, 136, 161) 94px 94px,
    rgb(0, 136, 161) 95px 95px,
    rgb(0, 136, 161) 96px 96px,
    rgb(0, 136, 161) 97px 97px,
    rgb(0, 136, 161) 98px 98px,
    rgb(0, 136, 161) 99px 99px,
    rgb(0, 136, 161) 100px 100px,
    rgb(0, 136, 161) 101px 101px,
    rgb(0, 136, 161) 102px 102px,
    rgb(0, 136, 161) 103px 103px,
    rgb(0, 136, 161) 104px 104px,
    rgb(0, 136, 161) 105px 105px,
    rgb(0, 136, 161) 106px 106px,
    rgb(0, 136, 161) 107px 107px,
    rgb(0, 136, 161) 108px 108px,
    rgb(0, 136, 161) 109px 109px,
    rgb(0, 136, 161) 110px 110px,
    rgb(0, 136, 161) 111px 111px,
    rgb(0, 136, 161) 112px 112px,
    rgb(0, 136, 161) 113px 113px,
    rgb(0, 136, 161) 114px 114px,
    rgb(0, 136, 161) 115px 115px,
    rgb(0, 136, 161) 116px 116px,
    rgb(0, 136, 161) 117px 117px,
    rgb(0, 136, 161) 118px 118px,
    rgb(0, 136, 161) 119px 119px,
    rgb(0, 136, 161) 120px 120px,
    rgb(0, 136, 161) 121px 121px;

  background-color: #00A1BC;
  height: 100%;
  width: 100%;
  font-size: 50px;
  line-height: 100px;
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


 html{
  margin:0;
  padding: 0;
  font-family: Merriweather;
 }  

body{
  margin:0;
  padding: 0;
 } 

.wrapper{
   position: relative;
   max-width:850px;
   min-width:600px;
   padding:0 0 100px 0;
   margin:0 auto;
 }

#signup h2{
  color: #00a2bd;
  font-size: 33px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}


