
<div class='nav-wrapper'>

<ul id="nav">
  <li class="active"><%= link_to "Explain.it", root_path %></li>
</ul> 
  <ul id="controls"> 
    <li>
      <%= render 'sessions/form' %>  
    </li>
  </ul>
</div>
