<% if current_user.subscribed? question %>
  <%= image_tag("stared.png")%>
<% else %>
  <%= link_to(image_tag("star.png"), question_subscriptions_path(question), :method => :post, :remote => true) %>
<% end %>
<span class='subscription-count'>
<%= question.subscriptions.count - 1 %>
</span>