<span class='subscription-count'>
<% if current_user.subscribed? question %>
  <%= link_to(image_tag("stared.png"), question_subscription_path(question, current_user.subscriptions.find_by_question_id( question.id )), :method => :delete, :remote => true) %>
<% else %>
  <%= link_to(image_tag("star.png"), question_subscriptions_path(question), :method => :post, :remote => true) %>
<% end %>
<span class='subscription-counter-<%= question.id %>'><%= question.subscriptions.count - 1 %></span>
</span>