/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html{
  margin:0;
  padding: 0;
  font-family: Merriweather;
 }  

body{
  margin:0;
  padding: 0;
 } 

.wrapper{
   position: relative;
   max-width:850px;
   min-width:600px;
   padding:0;
   margin:0 auto;
 }

#signup input[type=submit]{
  background-color:#1d7f91;
  padding:10px;
  height:50px;
  margin: 10 0;
  border: none;
  width: 100%;
  color: white;
  vertical-align: center;
  text-align: center;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


 input[type=submit]:focus{
  background-color:#1d9cbe;
  color: white;
  border: none;
  outline: none;
}

 input[type=submit]:hover{
  background-color:#1d9cbe;
}
