@font-face {
  font-family: 'fontello';
  src: asset-url('fontello.eot?19277286');
  src: asset-url('fontello.eot?19277286#iefix') format('embedded-opentype'),
       asset-url('fontello.svg?19277286#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}