@font-face {
  font-family: 'fontello';
  src: font-url('/assets/fontello.eot?19277286');
  src: font-url('/assets/fontello.eot?19277286#iefix') format('embedded-opentype'),
       font-url('/assets/fontello.svg?19277286#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}