footer div.input-group {
  position: fixed;
  display: block;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;

}

footer div.input-group div.auto-fill-container{
  position: relative;
}



footer div.input-group div.auto-fill-container input{
  /*position: absolute;*/
  font-family: roboto;
  margin: 0;
  border: none;
  font-size: 2em;
  vertical-align: center;
  padding-left: 7%;
}


footer div.input-group div.auto-fill-container input[type=text]:focus{
  outline: none;
  box-shadow: none;
  color: grey;
  transition: background-color 0.1s ease;
  background-color: rgba(0, 0, 0, 0.5);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

}
footer div.input-group div.auto-fill-container input[type="text"]{
  float: left;
  height:75px;
  width:75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  transition: background-color 0.1s ease;
  background-color: rgba(0,0,0,0.1);
  left: 0;
  bottom: 0;
}

footer div.input-group div.auto-fill-container input[type="submit"]{
  float: right;
  width:25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  right:0;
  background: #00829a;
  background: -moz-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #00829a), color-stop(100%, #00a2bd));
  background: -webkit-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -o-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -ms-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00829a', endColorstr='#00a2bd', GradientType=1);
  top:0;
  margin:0;
  padding:0;
  height:75px;
  border: none;
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
footer input[type=submit]:hover{
  background-color:#68C2B5;
}

.auto-fill-background{
  /*position: fixed;*/
  /*bottom:0;
  height:75px;
  background-color: #efefef;
  color: white;
  width:75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border:none;
  font-size: 2em;
  display: block;
  z-index: -1;
  left:0;
  padding-left: 7%;
  opacity: .9;*/
}

ul#question-queries{
  font-family: roboto;
  font-size: 2em;
  position:fixed;
  margin:0;
  background-color: red;
  bottom:76px;
  right:0;
  left:0;
  color: white; 
  max-height: 250px;
  background-color: #333;
  padding: 3% 7%;
  display: none;
  min-height: 0;
  list-style-type: none;
}
