.footer {
  position: fixed;
  bottom: 0;
  right:0;
  background-color:#222222;
  left: 0;
  height: 75px;
  z-index: -10
}

div.input-group {
  position: fixed;
  display: block;
  margin: 0 16.5%;
  padding: 0;
  bottom: 0;
  left: 0;
  right:0;
  background-color: rgba(0,0,0,0);
}

footer div.input-group div.auto-fill-container{
  position: relative;
}



footer div.input-group div.auto-fill-container input{
  font-family: roboto;
  margin: 0;
  border: none;
  font-size: 2em;
  vertical-align: center;
  padding-left: 7%;
  background-color: rgba(0,0,0,0);
}


footer div.input-group div.auto-fill-container input[type="text"]{
  position: absolute;  
  height:75px;
  width:75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  transition: background-color 0.1s ease;
  background-color: #222222;
  left: 0;
  top: 0;
  color: yellow;
}

footer div.input-group div.auto-fill-container input[type=text]:focus{
  outline: none;
  box-shadow: none;
  color: white;
  transition: background-color 0.1s ease;
  background-color: #222222;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

}

footer div.input-group div.auto-fill-container input[type="submit"]{
  float: right;
  width:25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #00829a;
  background: -moz-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #00829a), color-stop(100%, #00a2bd));
  background: -webkit-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -o-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -ms-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00829a', endColorstr='#00a2bd', GradientType=1);
  margin:0;
  padding:0;
  height:75px;
  border: none;
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
footer input[type=submit]:hover{
  background-color:#68C2B5;
}


ul#question-queries{
  font-family: roboto;
  font-size: 1.5em;
  position:fixed;
  margin:0;
  bottom:76px;
  left:0;
  right: 0;
  color: white; 
  max-height: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 16.5%;
  display: none;
  min-height: 0;
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul#question-queries .thumb{
  width: 100%;
  padding: 2%;
}

ul#question-queries .thumb .content {
  float: left;
} 

ul#question-queries .thumb .icons {
  float: right;
}

.highlight-word {
  color: yellow;
}

