.questions {
  margin-top: 130px;
}
.questions > li {
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 10px;
  background: #00829a;
  background: -moz-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #00829a), color-stop(100%, #00a2bd));
  background: -webkit-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -o-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: -ms-linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  background: linear-gradient(45deg, #00829a 0%, #00a2bd 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00829a', endColorstr='#00a2bd', GradientType=1);
}
.questions > li h1 a {
  font-family: 'Merriweather', serif;
  padding: 35px;
  color: white;
  font-style: italic;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 28px;
  display: block;
  text-decoration: none;
  line-height: 1.25em;
}
.questions > li .reviews {
  float: left;
  color: white;
  font-size: 33px;
  padding: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.questions > li .reviews span {
  margin-left: 30px;
}
.questions > li .reviews span:first-child {
  margin-left: 0;
}
.questions > li .answers {
  float: right;
  padding: 20px 35px 0 0;
}
.questions > li .answers li {
  display: inline-block;
  margin-right: 20px;
}
.questions > li .answers li a {
  display: block;
  width: 57px;
  height: 57px;
}
.questions > li .answers li a img {
  border-radius: 50%;
}
.questions > li .answers li:last-child {
  margin-right: 0;
}
.questions > li .answers .noAnswers {
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 25px 0 0 0;
}