// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#question-queries {
  // display: none;
  position: relative;
  background-color: black;
  color: white;  
  left: 0;
  max-height: 250px
}